.navbar{
    height : 40px;
    background-color: blue;
    
}

.nav , .list-unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav li {
    padding: 5px 10px;
    display: inline;
    line-height: 40px;
    text-decoration: none;
}

.nav a{
    color: white;
}

.nav a:hover {
    color: rgb(255,255,255);
    background-color: darkgray;
}

.container{
    width : 80%;
    margin: auto;
}

.img-fluid{
    width:100%;
}


.card{
    padding: 20px;
    border : 1px solid darkgray;
    border-radius: 4px;
}

.text-center{
    text-align: center !important;
}

.my-3{
    margin-top: 0.5em !important;
    margin-bottom: 0.5em;

}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.col{
    flex-basis: 30%;    
    display: flex;

    flex-direction : row ;
    align-items : stretch;
}

.message{
    display: block;
    padding : 1em 2em;
    border-width: 1px;
    border-style: solid navy;
    background-color: lightblue;
    border-radius: 4px;

}

.message-info{
    border-color : navy;
    background-color: lightblue;

}

.message-error{
    border-color : red;
    background-color: lightpink;
}